@import "../../styles/colors.scss";

// use this to center the main div
// take into account for the extra space of nav bar up top
.topSpace {
   @media only screen and (min-width: 768px) {
      padding-bottom: 100px;
   }

   // also add padding to left and right side of page
   padding: 0 1rem;

}

.header {
   font-size: 2.5rem;
   font-style: italic;
   line-height: 0.075;
}

.formText {
   line-height: 3rem;
}

.clickable {
   color: $green;
   text-decoration: underline;
}

.clickable:hover {
   color: $taupe;
   text-decoration: none;
}

.contactInput {
   min-width: 50px !important;
   max-width: 99.99% !important;
   transition: width 0.25s;
   border: none;
   border-bottom: 1px solid $green;
   background-color: $background;
   text-align: center;
   font-size: 1.5rem;
   color: $green;
}

.send {
   border: none;
   border-radius: 0;
   background-color: $green;
   color: $white;
   padding: 2rem 3rem;
   &:hover {
      background-color: $taupe;
      color: $black;
   }
}