@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.iconContainer {
   @media screen and (min-width: 769px) {
      width: 2.5rem;
         position: fixed;
         bottom: 0;
         left: 2.5rem;
         right: auto;
         z-index: 10;
      
         &:after {
            content: '';
            display: flex;
            width: 1px;
            height: 5.625rem;
            margin: 0 auto;
            left: 2.5rem;
            background-color: $light-blue;
         }
   }

   @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
     
      &:after {
         content: '';
      }
   }
}

.icons {
   list-style: none;
   filter: invert(75%) sepia(4%) saturate(1223%) hue-rotate(178deg) brightness(98%) contrast(90%);

   &:last-of-type {
         margin-bottom: 1.25rem;
         @media (max-width: 786px) {
            margin-bottom: 0;
         }
      }
   
      a {
         display: inline-block;
         padding: .625rem;
   
         &:hover,
         &:focus {
            transform: translateY(-3px);
            transition: $transition;
            // closest i can find to $ice
            filter: invert(76%) sepia(20%) saturate(500%) hue-rotate(147deg) brightness(90%) contrast(97%);
         }
      }
}