@import "../../styles/colors.scss";

.nav {
   background-color: $background;

   // display: absolute;
   // top: 0;
   // -webkit-transform: rotate(90deg);
   // -ms-transform: rotate(90deg);
   // transform: rotate(90deg);
   // -webkit-transform-origin: top left;
   // -ms-transform-origin: top left;
   // transform-origin: top left;
   // position: fixed;
   // left: 100%;
   // // padding-left: 20px;
   // width: 100vh;
   // -o-text-overflow: clip;
   // text-overflow: clip;
   // white-space: nowrap;
   // overflow: hidden;
}

.navBtn{
   color: $green;
   font-weight: bold;
// &:hover {
//       color: $light-blue;
//    }
}

