@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/utils.scss";

.nav {
   background-color: $background;

   span {
      color: $ice;
   }
}



.navBtn{
   font-size: .875rem;
   color: $light-blue;
   font-family: $fontFamilySecondary;
   background-color: $background;
   border: none;

   &:hover {
      color: $ice;
      transition: $transition;
   }

   &:focus {
      color: $ice;
   }
   
  
   &::before {
      color: $ice;
      
      font-family: $fontFamilySecondary;
      counter-increment: item;
      content: "0" counter(item) ".";
      font-weight: 400;
      padding-right: .5rem;
   }
}

.resume {
   font-size: .875rem;
   font-family: $fontFamilySecondary;
   padding: 1.5rem 2rem;
   border: 1px solid $ice;
   background-color: $background;
   color: $ice;

   &:hover {
      background-color: $transparent-ice;
      border-color: $ice;
      color: $ice;
      transition: $transition;
   }

   &:focus {
      background-color: $transparent-ice;
      border-color: $ice;
      color: $ice;
   }
}
