@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";


.header {
   font-size: clamp(1.625rem, 5vw, 2rem);
   margin-bottom: 3rem;

   &::before {
      color: $ice;
      font-size: 1rem;
      font-family: $fontFamilySecondary;
      counter-increment: section 4;
      content: ".0" counter(section);
      font-weight: 400;
      padding-right: .5rem;
   }

   &::after {
      content: "";
      display: inline-block;
      position: relative;
      top: -.625rem;
      margin-left: 1.25rem;
      width: 12rem;
      height: 1px;
      background-color: $dark-grey;

      @media only screen and (max-width: 768px) {
         width: 6.5rem;
      }
   }
}

.wrap{
   // width: 100%;
} 

.formText {
   & p {
      width: 100% !important;
   }
   line-height: 3rem;
}

.clickable {
   color: $green;
   text-decoration: underline;
}

.clickable:hover {
   color: $light-blue;
   text-decoration: none;
}

.contactInput {
   min-width: 50px !important;
   max-width: 99.99% !important;
   transition: width 0.25s;
   border: none;
   border-bottom: 1px solid $green;
   background-color: $background;
   text-align: center;
   font-size: 1.5rem;
   color: $green;
}

.send {
   border: none;
   border-radius: 0;
   background-color: $green;
   color: $white;
   padding: 2rem 3rem;
   &:hover {
      background-color: $light-blue;
      color: $black;
   }
   &:focus {
      color: $white;
   }
}