@import "../../styles/colors.scss";

// use this to center the main div
// take into account for the extra space of nav bar up top
.topSpace {
   @media only screen and (min-width: 768px) {
         padding-bottom: 100px;
      }

   // also add padding to left and right side of page
   padding: 0 1rem;
   
}

.name {
   font-size: 8rem;
   font-style: italic;
   line-height: 0.075;
    
    @media only screen and (max-width: 768px) {
         font-size: 5rem;
      }
}

.header {
   font-size: 2.5rem;
   font-style: italic;
   line-height: 0.075;
}

.desc {
   @media only screen and (max-width: 768px) {
         margin-left: 1.5rem;
      }
}

.title {
   font-size: 1.5;
   font-weight: 400;
}

.backNext {
   font-size: 1.25rem;
   border: none;
   background-color: transparent;
   color: $green;
   &:hover {
   color: $taupe;
   }
}

#line {
   border-left: 1px solid $black;
   min-height: 5rem;
}

#temp {
   min-width: 100%;
   height: 400px;
   background-color: $secondary;

   @media only screen and (max-width: 768px) {
         width: 80%;
            height: 1400px;
      }
}