@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.header {
   font-size: clamp(1.625rem, 5vw, 2rem);
   margin-bottom: 3rem;
   word-wrap: nowrap;

   &::before {
      color: $ice;
      font-size: 1rem;
      font-family: $fontFamilySecondary;
      counter-increment: section 3;
      content: "0" counter(section) ".";
      font-weight: 400;
      padding-right: .5rem;
   }

   &::after {
      content: "";
      display: inline-block;
      position: relative;
      top: -.625rem;
      margin-left: 1.25rem;
      width: 12rem;
      height: 1px;
      background-color: $dark-grey;

      @media only screen and (max-width: 768px) {
         width: 4.5rem;
      }
   }
}