@use "sass:color";

$background: #242933; 
$black: #141414; 
$grey: #4C566A;
$light-blue: #ABB9CF; 
$ice: #88C0D0; 
$white: #ECEFF4; 
$green: #A3BE8C; 
$red: #BF616A;
$transparent-ice: rgba(136, 192, 208, 0.1);
$secondary: $grey;
// $green: #26453E; //aime green
// $taupe: #DFD1AC;
// $brown: #935530;
