@import "./colors";
// Override default bulma scss variables with our own

// Colors
$black: $black;   
$background: $background;
$primary: $black;
$secondary: $grey;

// Typography
$text: $black;

// Tables
$table-color: $white;

// Navbar
$navbar-background-color: $background;
$navbar-burger-color: $ice;
$navbar-tab-active-color: $ice;

// Spacing
$spacing-values: (
   "0": 0,
   "1": 0.25rem,
   "2": 0.5rem,
   "3": 0.75rem,
   "4": 1rem,
   "5": 1.5rem,
   "6": 3rem,
   // custom
   "7": 5rem,
   "auto": auto,
);

// border radius (default 6px)
$control-radius: 4px;

// footer
$footer-background-color: $background;
$footer-padding: 3rem 1.5rem;


// To successfully override the default bulma scss variables,
// you must use the @import directive.
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/bulma.sass";
