@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

$fontFamilyMain: "SF Pro Display", sans-serif;
$fontFamilySecondary: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$fontFamilyQuotes: 'Noto Sans JP',
sans-serif;