@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.header {
   font-size: 2rem;
   
   &::before {
      color: $ice;
      font-size: 1rem;
      font-family: $fontFamilySecondary;
      counter-increment: section 1;
      content: "0" counter(section) ".";
      font-weight: 400;
      padding-right: .5rem;
      }

   &::after {
      content: "";
      display: inline-block;
      position: relative;
      top: -5px;
      margin-left: 20px;
      width: 18.75rem;
      height: 1px;
      background-color: $dark-grey;

      @media only screen and (max-width: 768px) {
            width: 6.5rem;
         }
   }  
}

.tech {
   font-size: .875rem; ;
   &::before {
      content: "▹";
      position: inline-flex;
      left: 0 px;
      margin-right: .5rem;
      color: $ice;
   }
}



.company {
   font-weight: bold;
   color: $green;
}

.temp {
   height: 400px;
   background-color: $white;

   @media only screen and (max-width: 768px) {
      width: 80%;
      height: 1400px;
   }
}

